body{
	display: flex;
    flex-direction: column;
}

header{
    background-position: right;
    padding-right: 90px;
    justify-content: center;
    padding-left: 0;
    background-position-x: 0;   
}

.header-img{
    background-position-x: 0;
}

.container-nano{
	align-items: center;
    width: 380px;
    justify-content: center;
    align-self: center;
    padding: 0;
}

.form-container, .container-img{
	width: 380px;
}

.form-container input{
	width: 315px;
}

.contain-message .message-text {
    width: 550px;
}

.banner-result img{
    width: 100vw;
    height: 65vh;
}